#!/usr/bin/env ruby

# Copyright (C) 2012 Ness Computing, Inc.
# 
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
# http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

########################################################################
#
# Executed as 
#
# #{@script} --base #{@core_base} --binaries #{@binaries_base} --config-path #{@config_path} --repository #{@repository_base} #{command} #{args}
# (see controller.rb)

require 'rubygems'
require 'galaxy/scripts'

scripts = Galaxy::ScriptSupport.new ARGV

Dir.chdir scripts.base

# first remaining argument is the command to execute
exit case scripts.rest[0]
     when 'update-config'
       unless system("bin/configure --slot-info #{scripts.slot_info} --config-path #{scripts.rest[1]}")
         raise "Unable to invoke the configure script to reload the configuration!"
       end
       0
     else
       puts "Unknown Command: #{scripts.rest[0]}!"
       2
     end
